body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:9px;
  top:10px;
  width:31px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u5 {
  position:absolute;
  left:50px;
  top:10px;
  width:49px;
  height:29px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:20px;
  top:60px;
  width:50px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:60px;
  width:76px;
  height:29px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:29px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:200px;
  top:60px;
  width:49px;
  height:29px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:91px;
  top:98px;
  width:174px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:20px;
  top:154px;
  width:277px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:20px;
  top:191px;
  width:135px;
  height:119px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:119px;
}
#u19 {
  position:absolute;
  left:2px;
  top:52px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:24px;
  top:620px;
  width:336px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:22px;
  top:610px;
  width:336px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:20px;
  top:330px;
  width:223px;
  height:58px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:58px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:12px;
  top:368px;
  width:351px;
  height:220px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:220px;
}
#u26 {
  position:absolute;
  left:2px;
  top:102px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:24px;
  top:620px;
  width:156px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:210px;
  top:620px;
  width:153px;
  height:30px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:22px;
  top:610px;
  width:160px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:207px;
  top:610px;
  width:153px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
